

<div id="repairlog_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box"  class="z-depth-5 center">
 <div class="center">
   
  
        <span class="whitetext">Please scan the job order: </span><br><input type="initials" name="initials" required class="mytext"  id="initials" placeholder="UPC" autofocus ng-model="inputVal">
       </div>
      

<button class="btn btn-default 1 #78909c blue-grey lighten-1 z-depth-2 " type="submit">Restart job</button>

</div>

</div>


<!--
<div ng-controller="PartiesListCtrl as vm">
  <ul>
    <li ng-repeat="party in vm.parties">
      {{party.name}}
      <p>{{party.description}}</p>
    </li>
</ul>
</div>
-->