<body class="">
 
<div id="repairlog_container" class="center" >
<img src="logo.jpg " class="z-depth-3"><br><br>
            <div id="centered_box"  class="z-depth-5 center">
 <div class="center">
   
  
        Please scan the job order: <input type="initials" name="initials" required class="form-control mytext"  id="initials" placeholder="UPC" autofocus>
       </div>
      

<button class="btn btn-default 1 #78909c blue-grey lighten-1 z-depth-2 " type="submit">Restart job</button>

</div>

</div>

</body>